/* styles.css */
h1 {
    color: black;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 50px;
    margin-block: 0
}
 
h3 {
    color: black;

    /* text-align: right; */
 
}
.klocka {
    text-align: center;
    font-weight: bold;
}


img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}    

.nisse {
    display: flex;
    justify-content: center;
    margin-bottom:20px ;
}

a {
    margin-left: 2px;
    margin-right: 2px;
    color: red
}

.container {
    margin-left: 25%;
    margin-right: 25%;
    /* display: grid; */
    /* align-self: center; */
    width: 50%;
    /* justify-content: center; */
    /* text-align: center; */
}

.container .right-align {
    text-align: right;
}


h2 {
    color: red;

text-align: center;

}

.lastupdate
{   
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-top:12px ;

}

