h1{
    text-align: center; 

}





.grid {
    display: grid;
    grid-template-columns: auto auto auto ;
    justify-items: center;

}

/* .grid button {
    width: 20%;
} */

.tillbaka1 {
    text-align: center;
}