
.Länk {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: red;

}

.förstahemsidan {
    text-align: left;
    margin-top: 50px;

}

.Dns {
    text-align: right;
    margin-top: 50px;


}

.URL {
    margin-top: 50px;

}

.HTTP {
    margin-top: 50px;



}

.www {
    margin: top 10px;
    margin-top: 1px;

}

.Tim {
    margin: top 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items:center;
    width:500px;
    text-align:center;
}